.post-list li {
  overflow: hidden;
  width: 350px;
}

.cover {
  width: 100px;
  float: left;
  margin-right: 20px;
}

blockquote {
  font-style: normal;
  margin-left: 25px;
  color: #111;
  border: none;
  letter-spacing: 0;
  font-size: 1rem;
}

.post-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.wrapper {
  max-width: 1200px;
}
